<%- include('partials/header') -%>

<main>
    <section class="hero">
        <div class="container-sm">
            <div class="row">
                <div class="col mt-5 ms-5">
                    <div class="col pt-5">
                        <h1>What is MySource?</h1>
                            <p>MySource is a place for you to keep all of your learning resources together and share with others!</p>
                            <p>No matter your age or stage in your education - school or self-learning - MySource is your source to keep your resources, share them, and discover more.</p>
                        <a href="/signup" type="button" class="btn btn-outline-secondary btn-lg">Sign Up</a>
                    </div>
                </div>
                <div class="col img-col ps-5">
                    <img src="../imgs/hero-img.png" alt="Online learning">
                </div>
            </div>
        </div>
    </section>
</main>
    

<%- include('partials/footer') -%>